@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800,900");
header, header .menu, header .more, section.one, section.one .faces, section.one .faces .box, section.one .faces .box .face, section.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .more, section.one .button {
  width: 323px;
  height: 98px;
  background-color: #a90000;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body, html {
  background-color: #112c4f;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
  overflow-x: hidden;
}

header {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header * {
  margin: 1.5rem;
}

header .menu {
  text-transform: uppercase;
}

header .menu div:hover {
  color: #a90000;
  cursor: pointer;
}

header .menu .contact {
  border: 2px solid white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

header .menu .contact:hover {
  border: 2px solid #a90000;
}

header .title {
  font-size: 5.5rem;
  margin-top: 4rem;
  max-width: 800px;
}

@media only screen and (max-width: 400px) {
  header .title {
    font-size: 2rem;
    max-width: 90vw;
  }
}

header .title .red {
  color: #a90000;
  font-weight: bold;
}

header .title img {
  width: 100%;
}

header .more {
  text-transform: uppercase;
}

header .more:hover {
  color: #a90000;
  background-color: white;
  border: 2px solid #a90000;
}

header .scroll {
  border: 1px solid #959595;
  width: 50px;
  height: 80px;
  border-radius: 1rem;
}

header .scroll:after {
  content: url("./img/scroll2.png");
  position: relative;
  top: 30px;
}

section.one {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.one .title .head {
  font-size: 2.3rem;
  font-weight: 800;
}

section.one .title .opis {
  max-width: 750px;
}

section.one .faces {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
}

section.one .faces .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
}

@media only screen and (max-width: 400px) {
  section.one .faces .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.one .faces .box .face {
    margin-bottom: 1rem;
  }
}

section.one .faces .box .face {
  width: 177px;
  height: 177px;
  border: 1px solid white;
  border-radius: 1rem;
}

section.one .faces .box .opis {
  max-width: 360px;
  margin-left: 1rem;
}

section.one .faces .box .opis .name, section.one .faces .box .opis .city, section.one .faces .box .opis .text {
  text-align: left;
}

section.one .faces .box .opis .name {
  font-size: 1.2rem;
  color: #a90000;
  font-weight: 900;
}

section.one .faces .box .opis .city {
  font-weight: 900;
  padding-bottom: 2rem;
}

section.one .button {
  background-color: #3c597f;
}

section.one .button:hover {
  background-color: white;
  color: #3c597f;
  border: 1px solid white;
}

section.two .skewed {
  background: #3c597f;
  padding: 200px 0;
  margin-top: -200px;
}

section.two .skewed .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.three {
  background: white url("./img/logos.png");
  max-width: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */